blockquote {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--background-primary-color);
}

hr {
    width: 80%;
}

.format-toolbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1.7px rgba(199, 198, 255, 0.15);
    background-color: rgba(199, 198, 255, 0.15);
    padding: 10px 0;
    margin: 0 0 10px 0;
}

.tooltip-icon-button {
    width: 5%;
    background-color: transparent;
    border: 0;
}